@font-face {
  font-family: Oxygen;
  src: url(../res/Oxygen-Regular.ttf); }
@font-face {
  font-family: Oxygen;
  src: url(../res/Oxygen-Bold.ttf);
  font-weight: bold; }
body {
  display: flex;
  background: #fafafa;
  font-family: Oxygen;
  flex-wrap: wrap;
  justify-content: center; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
     supported by Chrome and Opera */ }

.sidebar {
  display: block;
  /* mobile first */
  width: 284px;
  padding: 10px;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0; }
.sidebar__item {
  width: 100%;
  margin-bottom: 25px; }
.sidebar__search {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  width: calc(100% - 40px);
  font-size: 20px;
  background: #fefefe;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1); }
.sidebar__search-wrapper {
  width: 100%; }
.sidebar__search-wrapper input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #efefef;
  font-size: 20px; }
.sidebar__filters {
  min-height: 70px;
  background: #fefefe;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1); }
.sidebar__head {
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 20px; }
.sidebar__filter-content {
  display: none;
  padding: 0 20px 20px;
  margin: 0;
  list-style: none; }
.sidebar__filter-content li {
  margin-bottom: 10px; }
.sidebar__filter-content li input[type=checkbox] {
  display: none; }
.sidebar__filter-content li input[type=checkbox]:checked + .tick:after {
  opacity: 1; }
.sidebar__filter-content li label {
  /* TODO: prevent select */
  cursor: pointer;
  padding-left: 10px; }
.sidebar__filter-content li .tick {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 14px; }
.sidebar__filter-content li .tick:after {
  opacity: 0.2;
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  background: transparent;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  top: 3px;
  left: 1px;
  transform: rotate(-45deg); }
.sidebar__filter--open + .sidebar__filter-content {
  display: block; }
.sidebar__filter {
  cursor: pointer;
  height: 70px;
  display: flex;
  align-items: center;
  border-top: 1px solid #efefef;
  padding: 0 20px;
  justify-content: space-between; }
.sidebar__filter:after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e804'; }
.sidebar__filter--open:after {
  content: '\e805'; }
.sidebar .icon {
  margin: 0 17px 0 -8px; }

.listing {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-basis: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 120px; }
.listing.testing .product {
  visibility: hidden; }
.listing.loading .flummy {
  display: block; }
.listing .flummy {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -80px;
  left: calc(50% - 20px); }
.listing h1 {
  width: 100%;
  margin-left: 10px; }
.listing .product {
  position: relative;
  width: 260px;
  /* assuming a minimum viewport width of 320px */
  height: 410px;
  background: #fefefe;
  margin: 10px;
  transition: margin 0.2s, width 0.2s, height 0.2s, box-shadow 0.2s, z-index 0.2s;
  transition-timing-function: ease-in-out;
  z-index: 0;
  border-radius: 4px;
  cursor: pointer; }
.listing .product__modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fefefe;
  top: 0px;
  left: 0px;
  transition: box-shadow 0.2s, height 0.2s;
  transition-timing-function: ease-in-out;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: inherit; }
.listing .product__extent {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center; }
.listing .product__extent img {
  width: 40px;
  transition: width 0.2s; }
.listing .product__extent img:hover {
  width: 50px; }
.listing .product__content {
  position: relative;
  /* for creating an stacking context to influence the z-achsis  */
  background: inherit;
  width: 100%;
  height: 100%;
  transition: margin 0.2s, width 0.2s, height 0.2s, font-size 0.2s;
  border-radius: inherit;
  font-size: 14px; }
.listing .product__image img {
  width: 100%;
  margin: 5px 0; }
.listing .product__infos {
  padding: 0 10px; }
.listing .product__title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px; }
.listing .product__footer {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  transition: font-size 0.2s; }
.listing .product__footer [class^="icon-"]:before, .listing .product__footer [class*=" icon-"] {
  color: #00ffff; }
.listing .product__description {
  text-align: center;
  margin-bottom: 30px; }
.listing .product:hover {
  margin: 4px 5px 6px;
  width: 270px;
  height: 420px;
  z-index: 10000; }
.listing .product:hover .product__modal {
  height: calc(100% + 100px);
  box-shadow: 0px 10px 17px -4px rgba(0, 0, 0, 0.25); }
.listing .product:hover .product__content {
  font-size: 15px; }
.listing .product:hover .product__footer {
  font-size: 26px; }

@media (min-width: 567px) {
  body {
    flex-wrap: nowrap;
    justify-content: flex-start; }

  .listing {
    justify-content: flex-start;
    flex-basis: auto; } }
