@font-face {
  font-family: Oxygen;
  src: url(../res/Oxygen-Regular.ttf); }
@font-face {
  font-family: Oxygen;
  src: url(../res/Oxygen-Bold.ttf);
  font-weight: bold; }
body {
  display: flex;
  background: #fafafa;
  font-family: Oxygen; }

.sidebar {
  display: none;
  /* mobile first */
  width: 284px;
  padding: 10px;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0; }
.sidebar__item {
  width: 100%;
  margin-bottom: 25px; }
.sidebar__search {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  width: calc(100% - 40px);
  font-size: 20px;
  background: #fefefe;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1); }
.sidebar__search-wrapper {
  width: 100%; }
.sidebar__search-wrapper input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #efefef;
  font-size: 20px; }
.sidebar__filters {
  min-height: 70px;
  background: #fefefe;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1); }
.sidebar__head {
  height: 90px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  font-size: 20px; }
.sidebar__filter {
  height: 70px;
  display: flex;
  align-items: center;
  border-top: 1px solid #efefef;
  padding: 0 20px;
  justify-content: space-between; }
.sidebar__filter:after {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\e804'; }

@media (min-width: 897px) {
  .sidebar {
    display: block; } }
.listing {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 120px; }
.listing.testing .product {
  visibility: hidden; }
.listing.loading .flummy {
  display: block; }
.listing .flummy {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -80px;
  left: calc(50% - 20px); }
.listing h1 {
  width: 100%;
  margin-left: 10px; }
.listing .product {
  position: relative;
  width: 260px;
  height: 360px;
  background: #fefefe;
  margin: 10px;
  transition: margin 0.1s, width 0.1s, height 0.1s, box-shadow 0.1s;
  transition-timing-function: ease-in-out;
  z-index: 0;
  border-radius: 4px; }
.listing .product__modal {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fefefe;
  top: 0px;
  left: 0px;
  transition: box-shadow 0.1s, height 0.1s;
  transition-timing-function: ease-in-out;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  border-radius: inherit; }
.listing .product__content {
  position: relative;
  /* for creating an stacking context to influence the z-achsis  */
  background: inherit;
  width: 100%;
  height: 100%;
  transition: margin 0.1s;
  border-radius: inherit; }
.listing .product__image img {
  width: 100%; }
.listing .product__title {
  text-align: center;
  font-weight: bold; }
.listing .product__footer {
  display: flex;
  justify-content: space-between; }
.listing .product__footer .icon-* {
  color: #00ffff; }
.listing .product__description {
  text-align: center; }
.listing .product:hover {
  margin: 4px 5px 6px;
  width: 270px;
  height: 270px;
  z-index: 10; }
.listing .product:hover .product__modal {
  height: calc(100% + 200px);
  box-shadow: 0px 10px 17px -4px rgba(0, 0, 0, 0.25); }
.listing .product:hover .product__content {
  margin: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 10px); }

body.mobile .product {
  flex: 1 1 auto; }
