
$item-width: 260px;
$transition-timing: .1s;
$color-listing-item: #fafafa;
body {
    display: flex;
}
.filters {
    display: none; /* mobile first */
    width: 284px;
    padding: 0 10px;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    background: limegreen;
    height: 400px;
}

@media (min-width: 897px) {
    .filters {
        display: block;
    }
}

.listing {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 120px;
    
    &.testing .product {
        visibility: hidden;
    }
    
    &.loading .flummy {
        display: block;
    }
    
    .flummy {
        display: none;
        position: absolute;
        width: 40px;
        height: 40px;
        bottom: -80px;
        left: calc(50% - 20px);
    }
    
    h1 {
        width: 100%;
        margin-left: 10px;
    }
    
    .product {
        position: relative;
        width: $item-width;
        height: $item-width;
        background: $color-listing-item;
        margin: 10px;
        transition: margin $transition-timing, width $transition-timing, height $transition-timing, box-shadow $transition-timing;
        transition-timing-function: ease-in-out;
        z-index: 0;
        
        &__content {
            position: relative; /* for creating an stacking context to influence the z-achsis  */
            background: inherit;
            width: 100%;
            height: 100%;
            transition: margin $transition-timing;
        }
        &__modal {
            position: absolute;
            width: 100%;
            height: 100%;
            background: $color-listing-item;
            top: 0px;
            left: 0px;
            transition: box-shadow $transition-timing, height $transition-timing;
            transition-timing-function: ease-in-out;
        }
        
        &:hover {
            
            margin: 4px 5px 6px;
            width: $item-width + 10px;
            height: $item-width + 10px;
            z-index: 10;
            
            .product__modal {
                height: calc(100% + 100px);
                box-shadow: 0px 10px 17px -4px rgba(0,0,0,0.25);
            }
            .product__content {
                margin: 5px;
                width: calc(100% - 10px);
                height: calc(100% - 10px);
            }
            
        }
    }
}

body.mobile {
    .product {
        flex: 1 1 auto;
    }
}